<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
    <h1>Projects</h1>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
         <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td class="text-center">
            <%= link_to "Show", project_path(project), class: 'btn btn-info'%>
            <%= link_to "Edit", edit_project_path(project), class: 'btn btn-success'%>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Project', new_project_path, class: "btn btn-primary #{'active fw-bold' if current_page?(new_project_path)}" %>
</div>