<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1><%= @project.title %></h1>
    <p>
      <%= @project.description %>
    </p>
    <span class="label label-primary"> Last update <%= @project.updated_at.strftime("%b %d, %Y") %></span>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
      <%= link_to 'Edit',  edit_project_path(@project), class: 'btn btn-secondary'%> |
      <%= link_to 'Back', root_path, class: 'btn btn-dark' %>
      </p>
    </div>
    <div class="panel-footer">By,"#{current_user.email}"</div>
  </div>
</div>